@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Tangerine:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* variables and custom properties */
:root {
    --cursive: "Tangerine", cursive;
    --main-font: "Poppins", sans-serif;
    --primary-cursive: 'Dancing script', cursive;
    --text-color-p: #635985;
    --color-w: #e3e6f3;
    --color-second: #e8ffce;
    --color-g: #088178;
    --color-o: #f57224;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* implementing base font size to make use of rem unit to make responsive site effetively. Here, 62.5% = 10px = 1rem */
    font-size: 62.5%;
}


/* Css Reset */

* {
    margin: 0;
    padding: 0;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    background-color: var(--color-w);
}

.cont {
    padding: .5rem 15%;
}

/* Navigation Bar styling */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-w);
    box-shadow: 0 5px 15px grey;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#logo a {
    text-decoration: none;
    font-family: var(--cursive);
    font-size: 6rem;
    color: var(--text-color-p);
    font-weight: 700;
}

.nav-bar {
    padding: 0 6rem;
    width: 50%;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list li {
    position: relative;
    list-style: none;
    padding: 0 5%;
}

.nav-list li a {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--text-color-p);
    font-weight: 500;
    transition: 0.3s ease;
}

#login a,
.nav-list li:last-of-type a {
    font-size: 2.6rem;

}

.nav-list li a:hover,
.nav-list li a.active {
    color: var(--color-g);
}

.cart-badge {
    position: relative;
    text-align: center;
}

.cart-count {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -8px;
    max-width: 25px;
    text-align: center;
    display: none;
    /* Hide by default */
}


#mobile {
    display: none;
}

#close {
    display: none;
}




/* Login Section */
#login-section {
    margin: 5rem auto;
    position: relative;
}

.form-container {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 3rem;
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    margin: auto;
    box-shadow: 0 5px 15px #ced4da;
    padding-bottom: 0;

}

.form-container>h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color-p);
    line-height: 1.6;
}

Form {
    padding: 3rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.form-group:last-of-type {
    margin-bottom: 0;
}

.form-group .label {
    display: flex;
    justify-content: space-between;

}

#f-g-cbox{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
}

#enablenewsletter {
    /* Hide the default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    /* border: 2px solid #ccc; */
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  /* Unchecked state */
  #enablenewsletter::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 2px;
    border: 2px solid #ccc;
    transform: translate(2px, 2px);
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  /* Checked state */
  #enablenewsletter:checked::before {
    content: "\2713"; 
    display: block;
    width: 16px;
    height: 16px;
    font-size: 14px; 
    color: #fff; 
    background-color: var(--text-color-p); 
    border-radius: 2px;
    outline: none;
    border: none;
    text-align: center;
    line-height: 16px;
    transform: translate(2px, 2px);
    transition: background-color 0.3s, border-color 0.3s;
  }

#f-g-cbox span{
    font-size: 1.29rem;
}



#logIn {
    color: var(--text-color-p);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

#show {
    cursor: pointer;
    font-weight: 600;

}

#hide {
    display: none;
    cursor: pointer;
    font-weight: 600;
}

.form-group label {
    font-size: 1.4rem;
}

.form-group .label span {
    font-size: 1.3rem;
}

.form-group label {
    font-weight: 600;
}

.form-group input, .form-group select {
    border: 1px solid #ced4da;
    outline: none;
    width: 100%;
    border-radius: 8px;
    padding: 14px;
    margin: 6px 0;
    font-size: 14px;
}

.error{
    padding-left: 1rem;
    color: red;
    font-size: 1.2rem;
    margin: 0;
}

.form-group button,
.myButton {
    outline: none;
    border: none;
    padding: 15px;
    background-color: #635985;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-group button:hover {
    background-color: #544b6e;
}

.divider-box {
    display: flex;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.divider {
    border-bottom: 1px solid #c2c8d0;
    flex: 1 0 auto;
    height: 50%;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: 8px;
}

.myButton {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 50px;
    cursor: pointer;

}

.button-icon {
    display: flex;
    align-items: center;
}

.button-text {
    font-size: 14px;
}

#f-button {
    background-color: #1877f2;
    border: 1px solid #1877f2;
}

#f-button:hover {
    background-color: #1262c9;
}

#g-button {
    background-color: #fff;
    border: 1px solid #c2c8d0;
    color: grey;
}

#g-button:hover {
    background-color: #f6f4f4;
}


/* Forgot password */
.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.forgot p a {
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.forgot p a:hover {
    color: var(--text-color-p);
}

#hr {
    width: 80%;
    margin: auto;
}

/* footer section */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-top: 3rem;
}

.col:first-child {
    padding-top: 0;
}

.f-logo {
    margin-bottom: 2rem;
}

footer h4 {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}

footer p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
}

footer a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #222;
    margin-bottom: 0.5rem;
}

.social-links {
    margin-top: 3rem;
}

.social-links h4 {
    margin-bottom: 8px;
}

.social-link i {
    margin-right: 2rem;
    font-size: 2rem;
    color: var(--color-g);
}

footer a:hover,
.social-link i:hover {
    color: var(--text-color-p);
}

.install-app .install-row img {
    border: 1px solid var(--color-g);
    border-radius: 0.5rem;
    cursor: pointer;
}

.install-app img {
    margin: 1rem 0 1rem 0;
    cursor: pointer;
}

.copyright {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
}


/* Media Queries */

/* Responsiveness upto 576px */
@media (max-width:576px) {
    .cont {
        padding: 0.8rem 2.6rem !important;
    }

    footer {
        display: block;
    }

    footer .col {
        margin-bottom: 0;
        padding-top: 1.6rem;
    }
}

/* Responsiveness upto 659 */
@media (max-width: 659px) {

    .header {
        height: 7vh;
    }


}

/* Responsiveness upto 768 */
@media (max-width: 768px) {

    #login-section {
        margin-top: 0;
    }

    .form-container {
        width: 100%;
        border: none;
        box-shadow: 0 0 0;

    }

    .loginForm {
        padding: 0;
    }

    footer .col {
        padding-right: 5rem;

    }


}

@media (max-width: 991px) {

    html {
        font-size: 50%;
    }

    .cont {
        padding: 1rem 3%;
    }


    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: var(--color-w);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
        z-index: 999;
    }

    .nav-list.active {
        right: 0;
    }

    .nav-list li {
        margin-bottom: 25px;
    }

    #login {
        display: none;
    }

    .cart-count {
        padding: 4px;
        font-size: 1rem;
    }


    #mobile {
        display: flex;
    }

    #mobile a {
        text-decoration: none;
    }

    #mobile i {
        color: var(--text-color-p);
        font-size: 2.6rem;
        padding-left: 20px;
    }



    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 3rem;
    }

    #shop {
        display: none;
    }
}

/* Responsiveness up tp 1284px */

@media (max-width: 1284px) {


    .cont {
        padding: 2rem 5rem;
        padding-right: 10rem;
    }
}



/* Responsiveness upto 380 */
@media (max-width:380px) {


    html {
        font-size: 40%;
    }


}

/* Responsiveness upto 290 */
@media (max-width:290px) {
    html {
        font-size: 37%;
    }

}